ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
article {
  background-size: cover;
  width: 100%;
  font-family: "Montserrat";
  background-image: url("./img/backgoundimg.png");
  background-repeat: round;
}

html {
  scroll-behavior: smooth;
 }

.page {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("./img/backgoundimg.png");
  background-repeat: round;
  background-size: cover;
}
#page1 {
  background-image: url("./img/landingpage.png");
  background-size: cover;
}

#p1imgBox {
  position: absolute;
  width: 4%;
  bottom: 15%;
  right: 15%;
  background: rgba(79, 79, 79, 0.8);
  backdrop-filter: blur(8px);
  border-radius: 50%;
}
.title {
  font-family: "Montserrat";
  color: #ffffff;
  text-shadow: 2px 2px #ff4343;
  background: rgba(79, 79, 79, 0.8);
  backdrop-filter: blur(8px);
  border-radius: 50px;
  padding-left: 3%;
}



.contentText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
}

.contentText2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;

  color: #ffffff;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#page1 #title1 {
  font-size: 6rem;
  position: absolute;
  left: 12%;
  top: 25%;
  width: 60rem;
}

#page1 #title2 {
  font-size: 6rem;
  position: absolute;
  left: 12%;
  top: 50%;
  width: 76rem;
}

#page2 #title1 {
  font-size: 3rem;
  position: absolute;
  left: 10%;
  top: 8%;
  width: 33rem;
  padding-left: 2.5%;
}
#page2images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 6%;

  align-items: center;
  justify-items: center;
}
#page2images img {
  margin-top: 15%;
  width: 70%;
}
.guessSymbol-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.guessSymbol {
  position: relative;
  width: 12rem;
  opacity: 0.6;
  border-radius: 20px;
  text-align: center;
  height: 3rem;
  line-height: calc(3rem - 2px);
  font-size: 1.5rem;
  color: #fff;
  box-sizing: border-box;
  transition: 0.3s;
}
.guessSymbol .cont{
  border: 2px solid gray;
  background-color: gray;
  border-radius: 20px;
  transition: 0.3s;
}
.guessSymbol .right{
  border: 2px;
  border-color: #69FF43;
  border-style: solid;
  color:#69FF43 ;
  transition: 0.3s;
}
.guessSymbol .error{
  border: 2px;
  border-color: #FF4343;
  border-style: solid;
  color: #FF4343;
  transition: 0.3s;
}
.guessSymbol:hover .cont{
  border-radius: 20px 20px 0 0;
  border-bottom-color: transparent;
  transition: 0.3s;
}
.guessSymbol:hover .guessSymbol-select{
  display: block;
  opacity: 1;
  transition: 0.3s;
}
.guessSymbol-select{
  position: absolute;
  top:3rem;
  left: 0;
  width: 100%;
  margin-top:-1px ;
  opacity: 0;
  display: none;
  transition: opacity .3s linear;
  border-radius: 0 0 1.5rem 1.5rem;
  color: #fff;
  background-color: #333;
  transition: 0.3s;

}
.guessSymbol-select>li{
  height: 3rem;
  border-top: 1px solid #fff;
  box-sizing: border-box;
  transition: 0.3s;
}
.guessSymbol-select>li:hover{
  background-color: #666;
  transition: 0.3s;
}
.guessSymbol-select>li:last-child{
  border-radius: 0 0 1.5rem 1.5rem;
  transition: 0.3s;
}
.guessSymbol-tips{
  width: 60%;
  margin-top: 40px;
  line-height: 40px;
  height: 80px;
  display:-webkit-box;
  overflow:hidden;
  /*autoprefixer:off*/
  -webkit-box-orient:vertical;
  /*autoprefixer:on*/
  -webkit-line-clamp:2;
  text-overflow:ellipsis;
  visibility: hidden;
  font-size: 1.2rem;
  font-family: "Montserrat";
  color: #ffffff;
  text-align: left;
}

#page3image {
  position: absolute;
  width: 42%;
  height: 70%;
  right: 0vw;
  bottom: 0vh;
  background: url(./img/p3.png);
  background-repeat: no-repeat;
}

#p3title {
  font-size: 3rem;
  position: absolute;
  left: 10%;
  top: 8%;
  width: 34rem;
  padding-left: 2.5%;
}

#p3Content1 {
  position: absolute;
  width: 48rem;
  left: 10%;
  top: 25%;
  background: rgba(79, 79, 79, 0.7);

  padding: 36px;
  border-radius: 25px;
  color: #ffffff;
}
#p3Content2 {
  position: absolute;
  width: 48rem;
  left: 10%;
  top: 55%;
  background: rgba(79, 79, 79, 0.7);
  padding: 36px;
  border-radius: 25px;
  color: #ffffff;
}

#page4 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 100vh;
}
#y1980 {
  background: #1f1f1f;
  transition: 0.5s;
  color: #f9bdba;

  padding-top: 3rem;
  padding-right: 4rem;
  padding-left: 4rem;
}

#y1980:hover {
  background-color: #f9bdba;
  color: #ffffff;
}

#y2010 {
  background: #101010;
  transition: 0.5s;
  color: #c7b3d0;

  padding-top: 3rem;
  padding-right: 4rem;
  padding-left: 4rem;
}
#y2010:hover {
  background-color: #c7b3d0;
  color: #ffffff;
}

#y2016 {
  background: #1f1f1f;
  transition: 0.5s;
  color: #e3b46d;

  padding-top: 3rem;
  padding-right: 4rem;
  padding-left: 4rem;
}
#y2016:hover {
  background-color: #e3b46d;
  color: #ffffff;
}

#y2019 {
  background: #101010;
  transition: 0.5s;
  color: #e1d277;

  padding-top: 3rem;
  padding-right: 4rem;
  padding-left: 4rem;
}
#y2019:hover {
  background-color: #e1d277;
  color: #ffffff;
}

#y2020 {
  background: #1f1f1f;
  transition: 0.5s;
  color: #9abdcc;

  padding-top: 3rem;
  padding-right: 4rem;
  padding-left: 4rem;
}
#y2020:hover {
  background-color: #9abdcc;
  color: #ffffff;
}

#y2021 {
  background: #101010;
  transition: 0.5s;
  color: #9ecc9a;
  padding-top: 3rem;
  padding-right: 4rem;
  padding-left: 4rem;
}
#y2021:hover {
  background-color: #9ecc9a;
  color: #ffffff;
}

#page4 > div {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: left;
}

#page4 span {
  position: absolute;
  margin: auto;
  bottom: 30px;
  left: 32%;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

#page5 {
  height: 100vh;
  display: grid;
  justify-items: center;
  grid-template-rows: 20% 40% 10% 20% 10%;
  align-items: center;
}

#p5title {
  height: 5rem;
  font-size: 3rem;
  width: 60rem;
  line-height: 5rem;
  padding-left: 4%;
  
}

#p5title2 {
  height: 5rem;
  font-size: 2rem;
  width: 60rem;
  line-height: 5rem;
  color: #ffffff;
  text-shadow: 2px 2px #ff4343;
  text-align: center;
}

#p5content{
  margin-top: -2%;
  
}

#p5images {
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 90%;
}

#page7 {
  /* overflow-y: scroll; */
  position: relative;
  min-height: 280vh;
}
#p7title {
  font-size: 3rem;
  margin-left: 10%;
  width: 22rem;
  margin-top: 10%;
  padding-left: 2.5%;
  /* position: sticky; */
  /* top: 10%; */
}
#p7Titles {

  padding-left: 10%;
  height: 54vh;
  position: sticky;
  top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#p7Titles::after{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 8px;
  height: 80%;
  border-radius: 6px;
  transform: translateY(-50%);
  background-color: rgba(180, 180, 180, 0.5);;
}
#p7Box {
  position: relative;
  display: grid;
  grid-template-columns: 50%  50%;
  margin: 10% auto;
  width: 70%;
}
.p7Content {
  background: rgba(79, 79, 79, 0.7);
  width: 70%;
  padding: 30px;
  border-radius: 25px;
  color: #ffffff;
  align-items: center;
}

.p7title {
  text-align: center;
  height: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  margin-bottom: 10%;
  opacity: 0;
  transition: all .4s;
}
.p7title:last-child{
  margin-bottom: 0;
}
#p7Line {
  width: 5%;
  height: 60vh;
  background: rgba(79, 79, 79, 0.4);
}
.p7redline {
  height: 25%;
  background: #ff4343;
  width: 100%;
  border-radius: 20px;
}
.imgBox {
  border-radius: 50%;
  background: rgba(79, 79, 79, 0.7);
  position: absolute;
  left: 1vw;
  top: 1vh;
  color: white;
  width: 4vw;
}
.componyZoominBox {
  display: grid;
  grid-template-columns: 40% 60%;
}

#p6title {
  width: 20rem;
  padding-left: 0;
  text-align: center;
  height: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  margin-top: 10%;
}

#p6Content {
  margin-top: 10%;
  width: 90%;
}

#p6images {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 80%;
}

#p6line {
  margin-top: 4%;
  background: rgba(79, 79, 79, 0.4);
  height: 5px;
  width: 98%;
}
#p6redline {
  height: 5px;
  background: #ff4343;
  width: 10%;
  border-radius: 20px;
}

#page4 .contentText {
  padding: 20px;
}

