article {
  background-size: cover;
  width: 100%;
  font-family: "Montserrat";
  background-image: url("./img/backgoundimg.png");
  background-repeat: round;
}

.page {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("./img/backgoundimg.png");
  background-repeat: round;
  background-size: cover;
}
#page1 {
  background-image: url("./img/landingpage.png");
  background-size: cover;
}

#p1imgBox {
  position: absolute;
  width: 4%;
  bottom: 10%;
  right: 200px;
  background: rgba(79, 79, 79, 0.8);
  backdrop-filter: blur(8px);
  border-radius: 50%;
}
.title {
  font-family: "Montserrat";
  color: #ffffff;
  text-shadow: 2px 2px #ff4343;
  background: rgba(79, 79, 79, 0.8);
  backdrop-filter: blur(8px);
  border-radius: 50px;
  padding-left: 5%;
}

.contentText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}

.contentText2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#page1 #title1 {
  font-size: 7rem;
  position: absolute;
  left: 5%;
  top: 25%;
  width: 72rem;
}

#page1 #title2 {
  font-size: 7rem;
  position: absolute;
  left: 15%;
  top: 50%;
  width: 98rem;
}

#page2 #title1 {
  font-size: 4rem;
  position: absolute;
  left: 10%;
  top: 8%;
  width: 48rem;
}
#page2images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 10%;

  align-items: center;
  justify-items: center;
}
#page2images img {
  margin-top: 20%;
  width: 70%;
}
.guessSymbol {
  width: 12rem;
  background-color: gray;
  opacity: 0.5;
  border-radius: 55px;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;
}

#page3image {
  position: absolute;
  width: 42%;
  height: 70%;
  right: 0vw;
  bottom: 0vh;

  background: url(./img/p3.png);
  background-repeat: no-repeat;
}

#p3title {
  font-size: 4rem;
  position: absolute;
  left: 10%;
  top: 8%;
  width: 48rem;
}

#p3Content1 {
  position: absolute;
  width: 48rem;
  left: 10%;
  top: 25%;
  background: rgba(79, 79, 79, 0.7);

  padding: 40px;
  border-radius: 25px;
  color: #ffffff;
}
#p3Content2 {
  position: absolute;
  width: 48rem;
  left: 10%;
  top: 55%;
  background: rgba(79, 79, 79, 0.7);
  padding: 40px;
  border-radius: 25px;
  color: #ffffff;
}

#page4 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 100vh;
}
#y1980 {
  background: #1f1f1f;
  transition: 0.5s;
  color: #f9bdba;

  padding-top: 3rem;
  padding-right: 4rem;
  padding-left: 4rem;
}

#y1980:hover {
  background-color: #f9bdba;
  color: #ffffff;
}

#y2010 {
  background: #101010;
  transition: 0.5s;
  color: #c7b3d0;

  padding-top: 3rem;
  padding-right: 4rem;
  padding-left: 4rem;
}
#y2010:hover {
  background-color: #c7b3d0;
  color: #ffffff;
}

#y2016 {
  background: #1f1f1f;
  transition: 0.5s;
  color: #e3b46d;

  padding-top: 3rem;
  padding-right: 4rem;
  padding-left: 4rem;
}
#y2016:hover {
  background-color: #e3b46d;
  color: #ffffff;
}

#y2019 {
  background: #101010;
  transition: 0.5s;
  color: #e1d277;

  padding-top: 3rem;
  padding-right: 4rem;
  padding-left: 4rem;
}
#y2019:hover {
  background-color: #e1d277;
  color: #ffffff;
}

#y2020 {
  background: #1f1f1f;
  transition: 0.5s;
  color: #9abdcc;

  padding-top: 3rem;
  padding-right: 4rem;
  padding-left: 4rem;
}
#y2020:hover {
  background-color: #9abdcc;
  color: #ffffff;
}

#y2021 {
  background: #101010;
  transition: 0.5s;
  color: #9ecc9a;
  padding-top: 3rem;
  padding-right: 4rem;
  padding-left: 4rem;
}
#y2021:hover {
  background-color: #9ecc9a;
  color: #ffffff;
}

#page4 > div {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: left;
}

#page4 span {
  position: absolute;
  margin: auto;
  bottom: 30px;
  left: 32%;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

#page5 {
  height: 100vh;
  display: grid;
  justify-items: center;
  grid-template-rows: 20% 40% 10% 20% 10%;
  align-items: center;
}

#p5title {
  height: 5rem;
  font-size: 3rem;
  width: 65rem;
  line-height: 5rem;
}

#p5title2 {
  height: 5rem;
  font-size: 3rem;
  width: 65rem;
  line-height: 5rem;
  color: #ffffff;
  text-shadow: 2px 2px #ff4343;
  padding-left: 5%;
  text-align: center;
}

#p5images {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 90%;
}

#page7 {
  /* overflow-y: scroll; */
  position: relative;
  height: 400vh;
}
#p7title {
  font-size: 4rem;
  margin-left: 10%;
  width: 35rem;
  margin-top: 10%;
}
#p7Titles {
  height: 350vh;
}
#p7Box {
  display: grid;
  grid-template-columns: 50% 10% 40%;
  margin: 10% auto;
  width: 60%;
  justify-items: center;
  align-items: center;
}
.p7Content {
  background: rgba(79, 79, 79, 0.7);
  width: 70%;
  padding: 30px;
  border-radius: 25px;
  color: #ffffff;
  align-items: center;
}

.p7title {
  width: 28rem;
  text-align: center;
  height: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  margin-top: 10%;
}

#p7Line {
  width: 5%;
  height: 60vh;
  background: rgba(79, 79, 79, 0.4);
}
.p7redline {
  height: 25%;
  background: #ff4343;
  width: 100%;
  border-radius: 20px;
}
.imgBox {
  border-radius: 50%;
  background: rgba(79, 79, 79, 0.7);
  position: absolute;
  left: 1vw;
  top: 1vh;
  color: white;
  width: 4vw;
}
.componyZoominBox {
  display: grid;
  grid-template-columns: 40% 60%;
}

#p6title {
  width: 20rem;
  padding-left: 0;
  text-align: center;
  height: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  margin-top: 10%;
}

#p6Content {
  margin-top: 10%;
  width: 90%;
}

#p6images {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 80%;
}

#p6line {
  margin-top: 4%;
  background: rgba(79, 79, 79, 0.4);
  height: 5px;
  width: 98%;
}
#p6redline {
  height: 5px;
  background: #ff4343;
  width: 10%;
  border-radius: 20px;
}

#page4 .contentText {
  padding: 20px;
}
